.course-info {
  transform: translateX(0);
  width: 50%;
  min-width: 800px;
  position: absolute;
  margin-top: 30px;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 1;
  
  &:not(.active) {
    transform: translateX(50%);
    width: 0;
    min-width: 0;
    opacity: 0;
  }

  .back-button {
    width: 8rem;
    height: 2rem;
    background-color: #eee;
    border: 0;
    border: 2px solid #f1a200;
    outline: unset;
    font-size: 1.2rem;
    transition-duration: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
      background-color: #f1a200;
      cursor: pointer;
    }
  }

  .study-periods {
    margin-top: 30px;

    .row {
      width: 100%;
      height: 20px;
      margin: 4px 0;
      display: flex;
      justify-content: space-around;

      &.block {
        height: 30px;
      }

      .block.active {
        background-color: #f1a200 !important;
        color: #f1a200 !important;
      }

      .first-four {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .block {
          background-color: #bbb;
          color: #bbb;
          pointer-events: none;
          user-select: none;
        }
      }

      .last-two {
        display: flex;
        justify-content: flex-end;
        flex-grow: 3;

        .lp5 {
          text-align: center;
          margin: 0 10px;
          
          &.block {
            background-color: #bbb;
            color: #bbb;
            pointer-events: none;
            user-select: none;
          }
        }
  
        .lp6 {
          text-align: center;
          margin: 0 10px;

          &.block {
            background-color: #bbb;
            color: #bbb;
            pointer-events: none;
            user-select: none;
          }
        }
      }
    }
  }

  .information {
    font-size: 1.1rem;

    div {
      margin: 10px 0;

      span:nth-child(1) {
       width: 15%;
       display: inline-block;
     }
    }
  }

  .more-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .button {
      background-color: #eee;
      border: none;
      border: 2px solid #f1a200;
      width: 15rem;
      height: 4rem;
      font-size: 1.1rem;
      transition-duration: 0.2s;
      outline: none;

      &.not-found {
        background-color: #c7c7c757;
        border: 2px solid #b99b5e4d;
        color: #73737391;
        
        &:hover {
          cursor: not-allowed;
        }
      }

      &:hover:not(.not-found) {
        background-color: #f1a200;
        cursor: pointer;
      }
    }
  }

  h2 {
    margin-top: 50px;
    border-bottom: 1px solid #f1a200;
    padding-bottom: 10px;
  }

  .set-inner * {
    background-color: #eee !important;
  }
  
  a {
    text-decoration: none;
  }

  .bottom-button-holder {
    display: flex;
    width: 100%;
    justify-content: center;

    .bottom-button {
      display: block;
      margin: 50px auto;
      background-color: #eee;
      border: none;
      border: 2px solid #f1a200;
      width: 15rem;
      height: 4rem;
      font-size: 1.1rem;
      transition-duration: 0.2s;
      outline: none;
  
      &:hover {
        background-color: #f1a200;
        cursor: pointer;
      }
    }
  }

  .footer {
    width: 100%;
    height: 120px;
  }
}

@media screen and (max-width: 888px) {
  .course-info {
    width: 70%;
    min-width: 500px;

    &:not(.active) {
      transform: translateX(70%);
    }

    .back-button {
      width: 7rem;
      height: 1.8rem;
      font-size: 1rem;
    }

    .study-periods {
      font-size: 0.8rem;
    }

    h2 {
      margin-top: 40px;
      font-size: 1.3rem;
    }

    .information {
      font-size: 0.9rem;
  
      div {
        margin: 8px 0;

        span:nth-child(1) {
         width: 20%;
         max-width: 100px;
       }
      }
    }

    .more-buttons {
      .button {
        width: 13rem;
        height: 3.5rem;
        font-size: 0.9rem;
      }
    }

    .bottom-button-holder {
      .bottom-button {
        width: 13rem;
        height: 3.5rem;
        font-size: 0.9rem;
      }
    }

    .footer {
      height: 80px;
    }
  }
}

@media screen and (max-width: 530px) {
  .course-info {
    max-width: 90%;
    min-width: 90%;

    &:not(.active) {
      transform: translateX(90%);
    }
    
    .back-button {
      width: 6.5rem;
      height: 1.7rem;
      font-size: 0.8rem;
    }
    
    .study-periods {
      font-size: 0.6rem;
      margin-top: 20px;

      .row {
        margin: 2px 0;
        height: 15px;

        &.block {
          height: 20px;
        }

        .first-four {
          flex-grow: 2;
        }

        .last-two {
          flex-grow: 1;
        }
      } 
    }
    
    h2 {
      margin-top: 30px;
      font-size: 1rem;
    }

    .information {
      font-size: 0.8rem;
  
      div {
        margin: 6px 0;

        span:nth-child(1) {
         width: 30%;
         max-width: 85px;
       }
      }
    }

    .more-buttons {
      .button {
        width: 10rem;
        height: 3.5rem;
        font-size: 0.75rem;
      }
    }

    .bottom-button-holder {
      .bottom-button {
        width: 10rem;
        height: 3.5rem;
        font-size: 0.75rem;
      }
    }

    .footer {
      height: 30px;
    }
  }
}

@media screen and (max-width: 430px) {
  .course-info {
    .study-periods {
      font-size: 0.5rem;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 370px) {
  .course-info {
    .study-periods {
      font-size: 0.4rem;
      margin-top: 10px;
    }

    .information {
      font-size: 0.65rem;
  
      div {
        margin: 3px 0;

        span:nth-child(1) {
         width: 30%;
         max-width: 70px;
       }
      }
    }

    .more-buttons {
      .button {
        width: 9rem;
        height: 3rem;
        font-size: 0.7rem;
      }
    }

    .bottom-button-holder {
      .bottom-button {
        width: 9rem;
        height: 3rem;
        font-size: 0.7rem;
      }
    }

    .footer {
      height: 10px;
    }
  }
}
