.course-info {
  width: 50%;
  position: absolute;
  transform: translateX(800px);
  margin-top: 30px;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  min-width: 0;
  
  &:not(.active) {
    width: 0;
  }

  &.active {
    min-width: 800px;
    transform: translateX(0);
    opacity: 1;
  }

  .back-button {
    width: 8rem;
    height: 2rem;
    background-color: #eee;
    border: 0;
    border-bottom: 2px solid #f1a200;
    border-left: 1px solid #f1a200;
    outline: unset;
    font-size: 1.2rem;
    box-shadow: -2px 2px 3px -1px #555;
    transition-duration: 0.2s;
    
    &:hover {
      background-color: #f1a200;
      cursor: pointer;
    }
  }

  .institution {
    font-size: 1.2rem;
    font-weight: 700;
    height: 50px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }

  .examinator-and-credits {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .examinator {
      font-size: 1.2rem;
      font-weight: 700;
    }
    .credits {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }


  .study-periods {
    margin-top: 30px;
    font-weight: 700;

    .row {
      width: 100%;
      height: 20px;
      margin: 4px 0;
      display: flex;
      justify-content: space-around;

      &.block {
        height: 30px;
      }

      .block.active {
        background-color: #f1a200 !important;
        color: #f1a200 !important;
      }

      .first-four {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .block {
          background-color: #bbb;
          color: #bbb;
          pointer-events: none;
          user-select: none;
          box-shadow: -2px 2px 3px -1px #555;
        }
      }

      .last-two {
        display: flex;
        justify-content: flex-end;
        flex-grow: 3;

        .lp5 {
          text-align: center;
          margin: 0 10px;
          &.block {
            background-color: #bbb;
            color: #bbb;
            pointer-events: none;
            user-select: none;
            box-shadow: -2px 2px 3px -1px #555;
          }
        }
  
        .lp6 {
          text-align: center;
          margin: 0 10px;
          &.block {
            background-color: #bbb;
            color: #bbb;
            pointer-events: none;
            user-select: none;
            box-shadow: -2px 2px 3px -1px #555;
          }
        }
      }
    }
  }

  .more-buttons {
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .button {
      background-color: #eee;
      border: none;
      border-bottom: 2px solid #f1a200;
      border-left: 1px solid #f1a200;
      width: 15rem;
      height: 4rem;
      font-size: 1.1rem;
      transition-duration: 0.2s;
      outline: none;
      box-shadow: -2px 2px 3px -1px #555;

      &:hover {
        background-color: #f1a200;
        cursor: pointer;
      }
    }
  }

  h2 {
    border-bottom: 1px solid #f3a300;
    padding-bottom: 10px;
  }

  .set-inner * {
    background-color: #eee !important;
  }
  
  a {
    text-decoration: none;
  }
  .bottom-button-holder {
    display: flex;
    width: 100%;
    justify-content: center;

    .bottom-button {
      display: block;
      margin: 50px auto;
      background-color: #eee;
      border: none;
      border-bottom: 2px solid #f1a200;
      border-left: 1px solid #f1a200;
      width: 15rem;
      height: 4rem;
      font-size: 1.1rem;
      transition-duration: 0.2s;
      outline: none;
      box-shadow: -2px 2px 3px -1px #555;
  
      &:hover {
        background-color: #f1a200;
        cursor: pointer;
      }
    }
  }

  .footer {
    width: 100%;
    height: 120px;
  }
}