.filter-view {
  padding-top: 30px;
  width: 50%;
  min-width: 800px;
  overflow: hidden;

  .tip {
    text-align: right;
    font-size: 0.7rem;
    color: #666;
    display: block;
    margin-bottom: 70px;

    &.disabled {
      color: #eee;
      pointer-events: none;
      user-select: none;
    }
  } 
}

@media screen and (max-width: 888px) {
  .filter-view {
    width: 70%;
    min-width: 500px; 
    padding-top: 20px;

    .tip {
      right: auto;
      text-align: center;
    }
  }
}

@media screen and (max-width: 530px) {
  .filter-view {
    max-width: 90%;
    min-width: 90%;
    .tip {
      font-size: 0.6rem;
    }
  }
}

@media screen and (max-width: 370px) {
  .filter-view {
    .tip {
      font-size: 0.5rem;
    }
  }
}
