.filter-view {
  padding-top: 30px;
  width: 50%;
  min-width: 800px;
  overflow: hidden;

  .tip {
    text-align: right;
    font-size: 0.7rem;
    color: #666;
    display: block;
    margin-bottom: 70px;
  } 
}

@media screen and (max-width: 888px) {
  .filter-view {
    min-width: 90%;
    padding-top: 20px;

    .tip {
      right: auto;
      text-align: center;
    }
  }
}