.main {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  
  .tip {
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    font-size: 0.7rem;
    color: #666;
    right: calc(50vw - 400px);

    p {
      margin: 5px 0;
    }
  } 
}
