.searchbox {
  height: 2rem;
  width: 100%;
  font-size: 1.5rem;
  outline: unset;
  padding-left: 5px;
  background-color: #eee;
  border: none;
  border-bottom: 2px solid #f1a200;
}

.input-label {
  position: absolute;
  padding-left: 5px;
  font-size: 1.3rem;
  color: #bdb7ab;
  pointer-events: none;
  transition-duration: 0.3s;

  &.focused {
    transform: translateY(-1.5rem);
  }
}

input:disabled {
  color: black;
}

@media screen and (max-width: 888px) {
  .searchbox {
    font-size: 1.2rem;
  }
  
  .input-label {
    font-size: 1rem;
    transform: translateY(0.5rem);

    &.focused {
      transform: translateY(-1rem);
    }
  }
}

@media screen and (max-width: 530px) {
  .searchbox {
    font-size: 1rem;
  }

  .input-label {
    font-size: 0.65rem;
    transform: translateY(0.9rem);

    &.focused {
      transform: translateY(-0.65rem);
    }
  }
}
